/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

.pagebreak {
    margin: 20em;
    height: 90vh;
    margin: auto auto;
}

@media print {
    .pagebreak {
        page-break-after: always;
    }
}

// Give article headings after page breaks some space
.pagebreak>h1,
h2,
h3,
h4,
h5,
h6 {
    padding-top: 2vh;
}

.language-bash {
    font-size: x-large;
}

p.mermaid {
    background-color: ghostwhite;
}

details {
    margin-bottom: 1em;
}

body {
    --color-link: #4DCFEF;
    --color-visited-link: #4DCFEF;
    --body-background: #232D37;
    --body-font-color: #C1CBD5;
    --icon-filter: brightness(0) invert(1);
    --hint-color-info: #6bf;
    --hint-color-warning: #fd6;
    --hint-color-danger: #FF6363;
}
